* {
  box-sizing: border-box;
}



header {
	background-color:#97282C;
	color: #000;
}

body {
	background-color: #97282C;
	font-family: 'Ubuntu', sans-serif;
}

#map {
	width: 100%;
	height: 400px;
	background-color: #CCC;
	margin: 20px;
}

h1 {
	font: bold 40px 'Ubuntu', sans-serif;
	margin: 20px 20px 0 20px;
}
h3 {
	font-family: 'Architects Daughter', cursive;
	margin: 0 20px 20px 20px;
}

.place-name {
	display: block;
	font: bold 18px 'Ubuntu', sans-serif;
}

.place-image {
	display: block;
	float: left;
	padding: 5px;
	width: 100px;
}

.place-info{
	display: block;
	padding: 5px;
	width: 250px;

}

.place-snippet {
	display: inline-block;
	padding: 5px;
	width: 170px;
}

.rating-image {
	display: inline-block;
	padding: 5px;
	width: 50px;
}

.review {
	display: block;
	padding: 5px;
	width: 250px;
	font: italic 11px Roboto, Arial, sans-serif;
		clear: both;
}

.reviewer-image {
	float: right;
	padding: 5px;
	width: 50px;
}

