/***** Basic colors, fonts etc. *****/

* {
  box-sizing: border-box;
}

header {
	background-color:#97282C;
	color: #000;
}

body {
	background-color: #97282C;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font: bold 40px 'Ubuntu', sans-serif;
	margin: 20px 20px 0 20px;
}
h3 {
	font-family: 'Architects Daughter', cursive;
	margin: 0 20px 20px 20px;
}


/***** Map *****/

#map {
	width: 80%;
	height: 800px;
	background-color: #CCC;
	padding: 10px;
	display: block;
	float: left;
}

/***** InfoWindows *****/
.info-window {
	height: 250px;
}

.place-name {
	display: block;
	font: bold 18px 'Ubuntu', sans-serif;
}

.place-image {
	display: block;
	float: left;
	padding: 5px;
	width: 100px;
}

.place-info{
	display: block;
	padding: 5px;
	max-width: 250px;

}

.place-snippet {
	display: inline-block;
	padding: 5px;
}

.rating-image {
	display: inline-block;
	padding: 5px;
}

.review {
	clear: both;
	display: block;
	font: italic 11px Roboto, Arial, sans-serif;
	max-width: 250px;
	padding: 5px;
}

.yelp img {
    display:block;
	max-width: 90px;
}

.button:hover, .button:focus, .button:active {
	background: #000;
	text-decoration: none;
}

.button {
	background: #97282C;
	border-radius: 5px;
	display:inline;
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	font-size: 12px;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
	width: 50%;
}
.button,
.button a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.hide {
	display: none;
}

/***** Sidebar categories  *****/
.title {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}
.entertainment{
	background-color: #432c47;
	border-bottom: 1px solid black;
}

.favorites{
	background-color: #c0900e;
	border-bottom: 1px solid black;
}

.hotel{
	background-color: #1b317d;
	border-bottom: 1px solid black;
}

.restaurant{
	background-color: #97282c;
	border-bottom: 1px solid black;
}

.shopping {
	background-color: #125017;
	border-bottom: 1px solid black;
}

/***** Sidebar list of locations *****/
#place-list {
	width: 20%;
	padding: 0;
	display: block;
	float: left;
}

#place-list ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

/*****  Javascript Accordion *****/
.accordion-content {
	display: none;
}

.accordion-content.default {
	display: block;
}