@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?89037775');
  src: url('../font/fontello.eot?89037775#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?89037775') format('woff'),
       url('../font/fontello.ttf?89037775') format('truetype'),
       url('../font/fontello.svg?89037775#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?89037775#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /* CUSTOM */
  margin: 0 .4em 0 0;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 [class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /* CUSTOM */
  margin: .7em 0 0 0;
  font-size: 50%;
  vertical-align:bottom;
  text-align: center;
  float: right;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-restaurant:before { content: '\e800'; } /* '' */
.icon-hotel:before { content: '\e801'; } /* '' */
.icon-entertainment:before { content: '\e802'; } /* '' */
.icon-coffee:before { content: '\e803'; } /* '' */
.icon-shopping:before { content: '\e804'; } /* '' */
.icon-bank:before { content: '\e805'; } /* '' */
.icon-favorites:before { content: '\e806'; } /* '' */
.icon-search:after { content: '\e807'; } /* '' */
.icon-right:after { content: '\e808'; } /* '' */
.icon-down:after { content: '\e809'; } /* '' */
.icon-up:after { content: '\e80a'; } /* '' */
.icon-weather:before { content: '\e80b'; } /* '' */
.icon-sun:before { content: '\e80c'; } /* '' */
.icon-cloud:before { content: '\e80d'; } /* '' */


/* Icon in search box */
.icon-search:after {
  color: #a8a8a8;
  content: '\e807';
  font-size: 18px;
  position: relative;
  margin-right: 10px;
  margin-top: -36px;
  z-index: 1;
}