* {
  box-sizing: border-box;
}



header {
	background-color:#97282C;
	color: #000;
}

body {
	background-color: #97282C;
	font-family: 'Ubuntu', sans-serif;
}

#place-list {
	width: 20%;
	padding: 0;
	display: block;
	float: left;
}

#map {
	width: 80%;
	height: 400px;
	background-color: #CCC;
	padding: 10px;
	display: block;
	float: left;
}

#place-list ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
}
h1 {
	font: bold 40px 'Ubuntu', sans-serif;
	margin: 20px 20px 0 20px;
}
h3 {
	font-family: 'Architects Daughter', cursive;
	margin: 0 20px 20px 20px;
}

.place-name {
	display: block;
	font: bold 18px 'Ubuntu', sans-serif;
}

.place-image {
	display: block;
	float: left;
	padding: 5px;
	width: 100px;
}

.place-info{
	display: block;
	padding: 5px;
	max-width: 250px;

}

.place-snippet {
	display: inline-block;
	padding: 5px;
}

.rating-image {
	display: inline-block;
	padding: 5px;
}

.review {
	display: block;
	padding: 5px;
	font: italic 11px Roboto, Arial, sans-serif;
	clear: both;
	max-width: 250px;
}

.yelp img {
    width: 90px;
    display:block;
}

.yelp img:hover, .yelp img:focus, .yelp img:active {
    width: 115px;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}