/***** Basic colors, fonts etc. *****/
* {
	box-sizing: border-box;
}

header {
	background-color:#000;
}

body {
	background-color: #000;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	margin: 20px;
}

h1 {
	font: bold 40px 'Ubuntu', sans-serif;
	margin: 20px 20px 0 20px;
}
h3 {
	font-family: 'Architects Daughter', cursive;
	margin: 0 20px 20px 20px;
}

/***** Sidebar  *****/
#sidebar {
	display: block;
	float: left;
	padding: 0;
	width: 250px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 0;
}

.location {
	border-bottom: 1px solid black;
	margin: 0;
	padding: 5px 10px;
}

.search {
	background-color: #a8a8a8;
}

.favorites{
	background-color: #c0900e;
	border-bottom: 1px solid black;
}

.instruction-title {
	color: #c0900e;
	font: bold 18px 'Ubuntu', sans-serif;
	margin: 10px 0 5px 0;
	text-align: center;
}

.instructions {
	font: 14px 'Ubuntu', sans-serif;
	margin: 0 0 10px 0;
	text-align: center;
}

.entertainment{
	background-color: #432c47;
	border-bottom: 1px solid black;
}

.hotel{
	background-color: #1b317d;
	border-bottom: 1px solid black;
}

.restaurant{
	background-color: #97282c;
	border-bottom: 1px solid black;
}

.shopping {
	background-color: #125017;
	border-bottom: 1px solid black;
}

/***** Favorites Accordion *****/
#favoritesList {
	display: none;
}

input {
    width: 100%;
	margin: 10px 0;
	font-size: 18px;
	padding: 5px;
	border-radius: 5px;
}

input:focus {
	background-color: #e9e9e9;
	border-color: #a8a8a8;
}

/***** Map *****/
#map {
	width: calc( 100% - 260px );
	height: 800px;
	background-color: #CCC;
	margin: 10px 0 10px 10px;
	display: block;
	float: left;
}

/***** InfoWindows *****/
.info-window {
	height: 250px;
	color: #000;
}

.place-name {
	display: block;
	font: bold 18px 'Ubuntu', sans-serif;
}

.place-image {
	display: block;
	float: left;
	padding: 5px;
	width: 100px;
}

.place-info{
	display: block;
	padding: 5px;
	max-width: 250px;

}

.place-snippet {
	display: inline-block;
	padding: 5px;
}

.rating-image {
	display: inline-block;
	padding: 5px;
}

.review {
	clear: both;
	display: block;
	font: italic 11px Roboto, Arial, sans-serif;
	max-width: 250px;
	padding: 5px;
}

.yelp img {
    display:block;
	max-width: 90px;
}

.button:hover,
.button:focus,
.button:active {
	background: #000;
	text-decoration: none;
}

.button {
	background: #97282C;
	border-radius: 5px;
	display:inline;
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	font-size: 12px;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
	width: 50%;
}
.button,
.button a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.hide {
	display: none;
}